body {
  background-color: #2980b9;
  margin-top: 100px;
  font-family: system-ui;
}

#wrapper {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  color: #333;
  background-color: #2ecc71;
}

button {
  font-size: 1.5rem;
  border: none;
  border-radius: 50px;
  padding: 0.5rem;
}

#result {
  font-size: 2rem;
}
